{% extends 'base.html' %}

{% block page_title %}All Movies{% endblock %}

{% block page_heading %}All Movies{% endblock %}

{% block content %}

<div class="row row-flex">
    {% for movie in movies %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="movie" style="background-image: url('{{ MEDIA_URL }}{{ movie.image }}')">
                    
                </div>
                
                <div class="info">
                    <h3>{{ movie.name }}</h3>
                    <h4>{{ movie.release }}</h4>
                    <p class="movie-trailer"><a href="{{ movie.trailer }}" target="_blank">Watch the Trailer</a></p>
                    <h4>${{ movie.price }}</h4>
                
                
                    <form method="post" action="{% url 'add_to_cart' movie.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="5" class="form-control" placeholder="Quantity">
                            <span class="input-group-btn">
                                <button class="btn btn" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
