body {
    background-color: #1c1a1a !important;
    font-size: 0px !important;
}


/*navbar*/

.navbar-inverse {
    background-color: #1c1a1a !important;
    border-color: #1c1a1a !important;
}



.navbar-nav > li > a {
    font-family: haarlem;
    font-size: 19px;
}

.navbar-brand > img {
    margin-top: 3px;
    margin-left: -15px;
}


.navbar-form {
    padding: 10px 15px;
    margin-right: -15px;
    margin-left: -15px;
    border-top: 0px solid transparent !important;
    border-bottom: 0px solid transparent !important;
    box-shadow: none !important;
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    border-top: 0px solid transparent !important;
    box-shadow: none !important;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}


.navbar-form .input-group>.form-control {
    width: 100%;
}


.navbar-right {
    margin-right: -15px;
}



/*main body*/

.alert {
    padding: 10px !important;
    margin-bottom: 20px !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    text-align: center !important;
    font-size: 14px !important;
}

.alert-danger {
    color: #ffffff !important;
    background-color: #fd0000 !important;
    border-color: #fd0000 !important;
}

h1 {
    font-family: haarlem;
    text-align: center;
    margin-bottom: 40px !important;
    color: #9d753d !important;
    text-shadow: 2px 2px #4e3d24;
}

p {
    font-size: 18px;
    color: #737373;
    
}

.help-block {
    font-size: 10px;
}

.panel-body {
    font-family: haarlem;
 }

.h3, h3, .h4, h4 {
    color: #fff !important;
}

.input-group {
    font-family: haarlem;
    position: relative;
    z-index: 2;
    float: left;
    width: 110%;
    margin-bottom: 0;
}



label {
    font-family: haarlem;
    font-size: 19px;
    color: #737373;
}



.movie {
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 300px;
    margin: 0 auto;
}



.row-row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: #1c1a1a !important;
    padding: 0 10px;
    background-color: #1c1a1a !important; 
}

.btn-primary {
    color: #fff;
    background-color: #1c1a1a !important;
    border-color: #1c1a1a !important;
}


.movie-trailer > a {
    font-family: haarlem;
    color: #9d753d !important;
    font-size: 18px;
}


.prompts {
    margin-left: 25% !important;
}


a {
    font-family: haarlem;
}

form {
    width: 50%;
}

.accounts {
    width: 50%;
    margin-left: 25% !important;
}

.qty-control {
    margin-left: 4px;
    width: 10px;
}


.glyphicon {
    top: 2px;
    right: 5px;
}



.checkout {
    font-family: haarlem;
    position: relative;
    left: 8%;
}

.checkouttotal {
    font-family: haarlem;
    position: relative;
    left: 50%;
}


.info, .caption {
    margin-left: 65px;
    font-family: haarlem;
}


/*footer*/

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyright {
    float: left !important;
    font-size: 12px !important;
}



/*Media Queries*/

@media only screen and (max-width: 767px)  {
    .navbar-form .input-group>.form-control {
        width: 100%;
    }
    
    .info, .caption {
        margin-left: 32%;
        font-family: haarlem;
    }
    
    .navbar-brand > img {
        margin-top: 3px;
        margin-left: 0px;
    }
    
    .input-group {
        font-family: haarlem;
        position: relative;
        z-index: 2;
        float: none;
        width: 75%;
        margin-bottom: 1px;
    }
    
    .navbar-form {
        padding: 0px 15px !important;
        margin-right: -15px !important;
        margin-left: -26px !important;
        margin-top: 8px !important;
    }
}

@media (max-width: 788px) and (min-width: 768px)  {
    .navbar-form .input-group>.form-control {
        width: 100%;
    }
    
    .info, .caption {
        margin-left: 20%;
        font-family: haarlem;
    }
    
    .navbar-brand > img {
        margin-top: 3px;
        margin-left: 0px;
    }
    
    .input-group {
        font-family: haarlem;
        position: relative;
        z-index: 2;
        float: none;
        width: 83%;
        margin-bottom: 1px;
    }
    
    .checkout {
        position: relative;
        left: 37% !important;
    }
}


@media only screen and (max-width: 992px) and (min-width: 789px) {
   .info, .caption {
        margin-left: 17%;
        font-family: haarlem;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 993px) {
   .info, .caption {
        margin-left: 12%;
        font-family: haarlem;
    }
}

@media only screen and (max-width: 794px) and (min-width: 767px) {
    .navbar-right {
        margin-right: -37px !important;
        margin-top: -51px !important;
    }
    .input-group {
        width: 83%;
    }
}
